version: "3.8"

services:
  db:
    image: postgres:14
    container_name: sleeve-db
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  be:
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: sleeve-be
    ports:
      - "8080:8080"
    environment:
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    depends_on:
      - db
    restart: always
    volumes:
      - ./app:/app

volumes:
  postgres_data:
