version: "3.8"

services:
  db:
    image: postgres:14
    container_name: sleeve-db
    env_file:
      - ./config/.env
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  be:
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: sleeve-be
    env_file:
      - ./config/.env
    ports:
      - "8080:8080"
    depends_on:
      - db
    restart: always
    volumes:
      - ./app:/app

volumes:
  postgres_data:
